          
$A4PageWidth: 210mm;
$A4PageHeight: 297mm;


@media print {
    body * {
        visibility: hidden;
    }
        #dischargeTransferHTMLPrint, #dischargeTransferHTMLPrint * {
        visibility: visible;
    }
    #dischargeTransferHTMLPrint {
        position: absolute;
        left: 0;
        top: 0;
        width: $A4PageWidth; 
        height: $A4PageHeight;
    }    
    .one-third{
        width: $A4PageWidth / 3;
    }
}

