          
/*
@media print 
{
  @page { margin: 0; }
  body { margin: 1.6cm; }
}
  */

@media print {
  body * {
    visibility: hidden;
  }
  #dischargeTransferHTMLPrint, #dischargeTransferHTMLPrint * {
    visibility: visible;
  }
  #dischargeTransferHTMLPrint {
    position: absolute;
    left: 0;
    top: 0;
  }
}

#linkTest{
    color: hotpink !important; 
}