/* START adding units*/
.panel-body .addingUnits:after{
    position:relative;
    right:260px;
    top:5px;
    float:right;
}
.unitsGrams:after{
    content:"grams";
}
.unitsWeeks:after{
    content:"weeks";
}
.unitsCm:after{
    content:"cm";
}
.unitsDays:after{
    content:"days";
}
/* END adding units*/
.menuButton:hover{
    color: white;
    outline: none;
    background: rgba(255, 255, 255, 0.2);
    -webkit-transition: all .2s ease-in-out;
      -moz-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
}


.subHeadingTitle{
    word-spacing: 12px;
    font-family:  Charcoal, sans-serif;
    font-size: 2.25em;
    text-transform: uppercase;
    margin-bottom: 27px;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
}
/* Targetting all the div inside the col-md-8 tag */
.cold-md-9 div{
    display:block;
}
.fixingInputAlignment{
    margin-left:450px;
    width:450px;
    height:32px; 
    /*background-color:skyblue;*/ 
}
.fixingInputAlignmentForSurgery{
    margin-left:150px;
    width:850px;
    height:32px; 
    /*background-color:skyblue;*/
}

.fixingInputAlignmentForBacterialSepsis{
    margin-left:400px;
    width:450px;
    height:32px; 
}

.fixingInputAlignmentInner{
    margin-left:400px;
    width:450px;
    height:32px; 
    /*background-color:skyblue;*/
    
}
.fixingLabelLongText{
    float: left;
    clear: left;
    height:64px;
    width: 450px;
    text-align: right;
    padding-right:10px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 100;
    color: white;
}


.fixingLabelAlignment{
    display: inline-block;
    float: left;
    clear: left;
    height:32px;
    width: 450px;
    text-align: right;
    padding-right:10px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 100;
   /*background-color: green;*/
}

.fixingLabelAlignmentInner{
    display: inline-block;
    float: left;
    clear: left;
    height:32px;
    width: 390px;
    text-align: right;
    padding-right:10px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 100;
   /*background-color: green;*/
}

.fixingLabelAlignmentForSurgeryRecords{
    display: inline-block;
    float: left;
    clear: left;
    height:32px;
    width: 170px;
    text-align: left;
    padding-right:10px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 100;
   /*background-color: green;*/
}

.fixingDischargeTransferButtonAlignment{
    background-color: orange;
    left:50%;
    margin-left:50%;
}

/* Hiding Fields*/
#hiddenField1,
#hiddenField2,
#hiddenField3,
#hiddenField4,
#hiddenField5,
#hiddenField6,
#hiddenFieldTemperatureFirstHour,
#hiddenFieldCranialImaging,
#hiddenFieldSteroidsCLD,
#hiddenFieldROPSurgery,
#hiddenFieldpPneumothorax,
#hiddenFieldnecrotizingEnterocolitis,
#hiddenFieldfocalIntestinalPerforation,
#hiddenFieldRespiratory36WeeksOxygenGroup,
#hiddenFieldAtInitialResuscitation,
#hiddenFieldAfterInitialResuscitation,
#hiddenFieldBacterialSepsisBefore,
#hiddenFieldBacterialSepsis,
#hiddenFieldCoagulaseNegative,
#hiddenFieldFungalInfection,
#hiddenFieldROPRetinal,
#hiddenFieldBirthDefectCodes,
#hiddenFieldAtDischargeGroup,
#hiddenFieldHidingEntireSurgeryPanel,
#hiddenFieldAPGARGroup
{
    display:none;
}

/*Hiding surgery field 2-10*/
#hiddenFieldSurgery2,
#hiddenFieldSurgery3,
#hiddenFieldSurgery4,
#hiddenFieldSurgery5,
#hiddenFieldSurgery6,
#hiddenFieldSurgery7,
#hiddenFieldSurgery8,
#hiddenFieldSurgery9,
#hiddenFieldSurgery10
{
    display:none;
}

/*Hiding Transfer Form section B - D*/
#TransferFormPartB,
#TransferFormPartC,
#TransferFormPartD{
    display:none;
}
/* Hiding Discharge/Transfer Form Sections */
#transfer{
    display:none;
}
/*text in the radio buttons*/
/* STRAIGHTING THE : PART */
/* the label that is STRAIGHT after the p tag */
/*
.first-form p > label{
    display: inline-block;
    float: left;
    clear: left;
    width: 450px;
    text-align: right;
    padding-right:10px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 100;

}
*/



.inputFieldResize
{
    width:200px;
    float:left;
    height:32px;
    border:none;
    margin-right: 10px;
      -moz-border-radius:6px;
      -webkit-border-radius:6px;
    padding: 6px 12px;
    border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    
}
/* start */
/* placeholder look and feel */
    ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #bdc3c7;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #bdc3c7;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #bdc3c7;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #bdc3c7;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #bdc3c7;
}
/* end */
.float-left{
    float:left;
}

.formProgressLabel{
    font-family: sans-serif;
    font-size: 1.2em;
}

.ownToolTip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    /* START changing the location of the icon*/
    right:100px;
    top:7px;
    /* END changing the location of the icon*/
}
.ownToolTip .ownToolTipText {
    visibility: hidden;
    width: 120px;
    background-color: grey;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 2px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 140%;
    font-family: sans-serif;
    font-size: 14px;
    
}

.ownToolTip .ownToolTipText::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
    font-family: sans-serif;
}
.ownToolTip:hover .ownToolTipText {
    visibility: visible;
}

/* Navigation left side panel container */
#sidebar-container {
    z-index:999;
    position: fixed;
    left:0px;
    top:50px;
    width: 300px;
    height:100vh;
    list-style: none;
    border-right: 1px solid;
    display:none;
    /*border-style:solid;
    border-width: 1px;*/
    background:black;
    /*box-shadow: 0px 0px 10px rgba(189, 195, 199,1.0);*/
    /*border-radius: 4px;*/
}

/* Sidebar Styles */

.hide-sidebar{
    display:none;
}
/*Buttons on the side bar*/
.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}
.sidebar-nav li #patientButtonID:hover{
    text-decoration: none;
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
}
/*Cant use numbers in the front of an ID*/
.sidebar-nav li #dayButtonID:hover{
    text-decoration: none;
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li #dischargeButtonID:hover{
    text-decoration: none;
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
}


.sidebar-nav li #patientButtonID:active,
.sidebar-nav li #28dayButtonID:active,
.sidebar-nav li #dischargeButtonID:active,
.sidebar-nav li #patientButtonID:focus,
.sidebar-nav li #28dayButtonID:focus,
.sidebar-nav li #dischargeButtonID:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 0;
    }
    #wrapper.toggled {
        padding-left: 250px;
    }
    #sidebar-wrapper {
        width: 0;
    }
    #wrapper.toggled #sidebar-wrapper {
        width: 250px;
    }
    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }
    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

/* Progress bar */
/* Start */
.patientInfoPanel{
    position:relative;
    top: 20px;
    border: 1px solid gray;
    margin: 10px 10px;
    height:200px;
    border-radius: 4px;
}
.patientMedicalRecordDiv{
    padding:5px;
}
.patientNameRecordDiv{
    padding:5px;
}
.patientInfoPanelPatientMedical,.patientInfoPanelPatientName{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
    color: dimgray;
    display:block;
}
.patientInfoPanelPatientMedicalDisplay, .patientInfoPanelPatientNameDisplay{
    display:block;
}
.progressBarUL{
    list-style: none;
    margin:0;
    margin-left:60px;
    padding:0;
    bottom:50px;
    position:relative;
    counter-reset: step;
}
/*pseudo for the solid line*/
.progressBarUL:before{
    z-index: 9998;
    content:'';
    position:absolute;
    top:0;
    left:-20px;
    width:0px;
    height:100%;
    border:1px solid white;
    
}
/* each item in the list */
.progressBarUL li{
    margin: 120px 0px;
    position:relative;
    
}
/* Each section name */
.progressBarUL li a{
    font-family: "Julius sans one";
    width:95%;
    border-radius: 5px;
    
}
/* circles */
/* ".progressBarUL li span"  It was previously this but to decrease specifity value we made it this so the black doesn't take priority over the colour classes we are adding.*/
div ul li .firstATag{
    z-index: 9999;
    content:'';
    width:60px;
    height:60px;
    top:-12px;
    left:-50px;
    border:2px solid white;
    position:absolute;
    border-radius: 50%;
    background-color: black;
    cursor: pointer;
}
/*pseudo for the circle line*/
div ul li .firstATag:before{
    
    
    z-index: 9998;
    content:'';
    position:absolute;
    top:0;
    left:-20px;
    width:0px;
    height:100%;
    
}
/* numbers */
div ul li .firstATag:after{
    font-family: sans-serif;
    font-size: 20px;
    z-index: 9999;
    content: counter(step);
    counter-increment: step;
    color:white;
    width:25px;
    height:25px;
    margin-left:-12.5px;
    margin-top: 12px;
    position:absolute;
    
}

.progressBarUL #listItem2 span:before{
/*    background-color: green;*/
    
    /* start glow*/
    /*-webkit-animation: glowing 1500ms infinite;
  -moz-animation: glowing 1500ms infinite;
  -o-animation: glowing 1500ms infinite;
  animation: glowing 1500ms infinite;*/
    /* end glow */
}
.progressBarUL li:nth-child(2) span:before{
/*    background-color: green;*/
    
    /* start glow*/
    /*-webkit-animation: glowing 1500ms infinite;
  -moz-animation: glowing 1500ms infinite;
  -o-animation: glowing 1500ms infinite;
  animation: glowing 1500ms infinite;*/
    /* end glow */
}
.progressBarUL li:nth-child(3) span:before{
/*    background-color: green;*/
    
    /* start glow*/
    /*-webkit-animation: glowing 1500ms infinite;
  -moz-animation: glowing 1500ms infinite;
  -o-animation: glowing 1500ms infinite;
  animation: glowing 1500ms infinite;*/
    /* end glow */
}
/* End */

/* Start Glowing of the sidebar */
@-webkit-keyframes glowing {
  0% {  -webkit-box-shadow: 0 0 3px #bdc3c7; }
  50% {  -webkit-box-shadow: 0 0 40px #bdc3c7; }
  100% {  -webkit-box-shadow: 0 0 3px #bdc3c7; }
}

@-moz-keyframes glowing {
  0% {  -moz-box-shadow: 0 0 3px #bdc3c7; }
  50% {  -moz-box-shadow: 0 0 40px #bdc3c7; }
  100% {  -moz-box-shadow: 0 0 3px #bdc3c7; }
}

@-o-keyframes glowing {
  0% {  box-shadow: 0 0 3px #bdc3c7; }
  50% { box-shadow: 0 0 40px #bdc3c7; }
  100% {box-shadow: 0 0 3px #bdc3c7; }
}
/* this one*/
@keyframes glowing {
  0% {  box-shadow: 0 0 10px #bdc3c7; }
  50% {  box-shadow: 0 0 40px #bdc3c7; }
  100% { box-shadow: 0 0 10px #bdc3c7; }
}
/* glow all the buttons*/
/* Start Glowing of the hidden Fields */
@-webkit-keyframes glowingHidden {
  0% {  -webkit-box-shadow: 0 0 3px #bdc3c7; }
  50% {  -webkit-box-shadow: 0 0 20px #bdc3c7; }
  100% {  -webkit-box-shadow: 0 0 3px #bdc3c7; }
}

@-moz-keyframes glowingHidden {
  0% {  -moz-box-shadow: 0 0 3px #bdc3c7; }
  50% {  -moz-box-shadow: 0 0 20px #bdc3c7; }
  100% {  -moz-box-shadow: 0 0 3px #bdc3c7; }
}

@-o-keyframes glowingHidden {
  0% {  box-shadow: 0 0 3px #bdc3c7; }
  50% { box-shadow: 0 0 20px #bdc3c7; }
  100% {box-shadow: 0 0 3px #bdc3c7; }
}
/* this one*/
@keyframes glowingHidden {
  0% {  box-shadow: 0 0 3px #bdc3c7; }
  50% { box-shadow: 0 0 20px #bdc3c7; }
  100% {box-shadow: 0 0 3px #bdc3c7; }
}
/* glow all the buttons*/
.glowingButton {
  -webkit-animation: glowing 3500ms infinite;
  -moz-animation: glowing 3500ms infinite;
  -o-animation: glowing 3500ms infinite;
  animation: glowing 3500ms infinite;
}
.glowingHiddenFields{
    -webkit-animation: glowingHidden 5000ms 1;
  -moz-animation: glowingHidden 5000ms 1;
  -o-animation: glowingHidden 5000ms 1;
  animation: glowingHidden 5000ms 1; 
    
}

/* End Glowing of the sidebar */
/* radio buttons */
.radioFloatLeft{ /*for less than 3/4 radio */
    float:left;
    margin: 0 25px;
    margin-top: 5px;
}

.radioFloatLeftInner{ /*for less than 3/4 radio */
    float:left;
    margin: 0 25px;
    margin-top: 5px;
    right:500px;
    /*background: red;*/
}

.radioFloatLeftForSurgery{ /*for less than 3/4 radio */
    float:left;
    margin: 0 25px;
    margin-top: 5px;
   /* background:Red;*/
}
.radioMoreThan5{
    
}
.radioText{
    font-family: Helvetica, Arial, sans-serif;
    font-weight:100;
}
.radioTextMoreThanTwoVerticalAlign{
    
    display:block;
    text-align:left;
    margin-left:470px;
}
.bottom-block{
    display:block;
    background: red;
    position:relative;
    width:100px;
    height:100px;
}
#dischargeOrTransferDIV{
    background: red;
}
#dischargeOrTransferDIV label{
    background:yellow;
}
#dischargeOrTransferDIV a{
    margin:15px;
}

/* START Menu CSS */
/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 9999999; /* Stay on top */
    top: 0;
    right: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
/* START Menu Icons*/
.sidenav a:nth-child(2):before{
    content: "\f15c"; 
    font-family: FontAwesome;
    padding-right: 10px;
}
.sidenav a:nth-child(3):before{
    content: "\f059"; 
    font-family: FontAwesome;
    padding-right: 10px;
}
.sidenav a:nth-child(4):before{
    content: "\f08b"; 
    font-family: FontAwesome;
    padding-right: 10px;
}
/* END Menu Icons*/
/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 24px;
    color: #818181;
    display: block;
    transition: 0.3s;
    font-family: "Lato", sans-serif;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
/* END Menu CSS */

/*START Panel CSS*/
.panel {
    /*margin-bottom: 20px;
    margin-left: 25px;*/
    background-color: transparent;
    border: 1px solid #337ab7;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    width:100%;
    overflow: auto;
}
.panel-primary {
    border-color: #337ab7;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color:#999999;
    width:1000px;
}
.panel-primary>.panel-heading {
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.panel-body {
    padding: 35px;
}
.panel-body p {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: white;
}

/*END Panel CSS*/
.InnerPanel {
    margin-bottom: 20px;
    margin-left: 25px;
    background-color: transparent;
    border: 1px solid #337ab7;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    width:100%;
    overflow: auto;
}
.inner-panel-primary {
    border-color: #337ab7;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color:#999999;
    width:880px;
}
.inner-panel-primary>.inner-panel-heading {
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
}

.inner-panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.inner-panel-body {
    padding: 35px;
}
.inner-panel-body p {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: white;
}
/* START Inner Panel*/


/* END Inner Panel*/
/* START Centering the drop down select */
.tempforSize {display: inline-block !important;}
/* END Centering the drop down select */

.patientMedicalRecordDivFormat{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    background: transparent;
    border-style: none;
    color:white;
    display:block;
    text-align: center;
}